<div #scroll class="cuadro-scroll">
    <!-- Titulo -->
    <div class="contenedor-titulo">
        <h1>Sobre los talleres</h1>
        <mat-divider style="margin: 0 3% 0 3%;"></mat-divider>
    </div>

    <!-- Seccion Ponentes -->
    <section class="pag-seccion-ponentes">
        <ul class="pag-seccion-ponentes__contenedor">
            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/gato1.jpeg">
                    <mat-card-header>
                        <mat-card-title>Taller de Mecánica</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            Aprende sobre la mecánica básica desarmando y armando por completo un Tsuru tuniado.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Impartido por: Ing. Romiau Santos
                            <br>
                            Cupo límite: 40
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/gato2.jpeg">
                    <mat-card-header>
                        <mat-card-title>Taller de Magia</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            "Si los reyes magos son los papás, entonces la mágia no existe y también son los papás"
                            <br>
                            Eso dijo mi primo el de Culiacan y yo le creo.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Impartido por: Mamá Lucha
                            <br>
                            Cupo límite: 40
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/gato3.jpeg">
                    <mat-card-header>
                        <mat-card-title>Taller de Oratoria</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            Aprende las bases en oratoria. Al terminar el taller, podrás imitar el grito de Pedrito Sola cuando le sale una mosca en su café
                            jajaja pobre señor es bien botana. 
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Impartido por: Mtro. Pelon Pelo Rico
                            <br>
                            Cupo límite: 40
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/gato4.jpeg">
                    <mat-card-header>
                        <mat-card-title>Taller de Torno</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            El torno es como un desarmador pero más grande, has de cuenta como el taladro, pero no, pero es que ahí ya tenemos 3 cosas;
                            la primera, la segunda y la tercera. Y las 3 van a lo mismo, entonces ahí está la respuesta a la pregunta que tú me hacías.
                            Entonces, como quien dice, la respuesta la tenías tú, y como yo ya te expliqué lo que es el torno porque tú ya lo sabías, entonces ahí
                            está, eso es el Taller de Torno.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Impartido por: Miaulbertano Santa Cruz
                            <br>
                            Cupo límite: 40
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/gato5.png">
                    <mat-card-header>
                        <mat-card-title>Taller de Programación</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            Ayudame, ya no sé qué poner y hasta ahora me di cuenta que no era necesario escribir algo en cada espacio para tenerlo de 
                            referencia como un texto editable.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Impartido por: La Carabina de Ambrosio
                            <br>
                            Cupo límite: 40
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

        </ul>
    </section>

</div>