<div #scroll class="cuadro-scroll">
    <!-- Titulo -->
    <div class="contenedor-titulo">
        <h1>Sobre los talleres</h1>
        <mat-divider style="margin: 0 3% 0 3%;"></mat-divider>
    </div>

    <!-- Seccion Ponentes -->
    <section class="pag-seccion-ponentes">
        <ul class="pag-seccion-ponentes__contenedor">
            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/prueba-taller.jpg">
                    <mat-card-header>
                        <mat-card-title>Taller de Mecánica</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            nibh ullamcorper. Praesent ut mi non enim accumsan convallis at
                            quis eros. Integer dignissim imperdiet turpis quis elementum. Nullam imperdiet consequat
                            sem.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Impartido por: turpis quis elementum
                            <br>
                            Cupo límite: 40
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/prueba-taller.jpg">
                    <mat-card-header>
                        <mat-card-title>Praesent ut mi</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            nibh ullamcorper. Praesent ut mi non enim accumsan convallis at
                            quis eros. Integer dignissim imperdiet turpis quis elementum. Nullam imperdiet consequat
                            sem.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Impartido por: turpis quis elementum
                            <br>
                            Cupo límite: 40
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/prueba-taller.jpg">
                    <mat-card-header>
                        <mat-card-title>non enim accumsan</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            nibh ullamcorper. Praesent ut mi non enim accumsan convallis at
                            quis eros. Integer dignissim imperdiet turpis quis elementum. Nullam imperdiet consequat
                            sem.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Impartido por: turpis quis elementum
                            <br>
                            Cupo límite: 40
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/prueba-taller.jpg">
                    <mat-card-header>
                        <mat-card-title>Taller de Torno</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            nibh ullamcorper. Praesent ut mi non enim accumsan convallis at
                            quis eros. Integer dignissim imperdiet turpis quis elementum. Nullam imperdiet consequat
                            sem.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Impartido por: turpis quis elementum
                            <br>
                            Cupo límite: 40
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/prueba-taller.jpg">
                    <mat-card-header>
                        <mat-card-title>Praesent ut mi </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            nibh ullamcorper. Praesent ut mi non enim accumsan convallis at
                            quis eros. Integer dignissim imperdiet turpis quis elementum. Nullam imperdiet consequat
                            sem.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Impartido por: turpis quis elementum
                            <br>
                            Cupo límite: 40
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

        </ul>
    </section>

</div>