<mat-toolbar class="customToolbar">
    <mat-toolbar-row>

        <div class="menu-container">
            <button mat-icon-button class="menu-container__btnMenu" (click)="sidenav.toggle();">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <div class="contenedorLogos">
            <!-- <img src="assets/img/logos/ipn.png" /> -->
            <img src="assets/img/logos/logoSimpleSemana.png" />
            <!-- <img src="assets/img/logos/upiiz.png" /> -->
        </div>

        <div class="menu-container__btnMenu">
            <!--Vacio para lograr 10%|80%|10%-->
        </div>

    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav opened="false">
        <mat-nav-list>

            <mat-list-item routerLink="/pages/inicio" (click)="sidenav.close();">
                <span>Inicio</span>
            </mat-list-item>

            <mat-list-item routerLink="/pages/ponentes" (click)="sidenav.close();">
                <span>Ponentes</span>
            </mat-list-item>

            <mat-list-item routerLink="/pages/talleres" (click)="sidenav.close();">
                <span>Talleres</span>
            </mat-list-item>

            <mat-list-item routerLink="/pages/contacto" (click)="sidenav.close();">
                <span>Contacto</span>
            </mat-list-item>

            <ul>
                <li>
                    <a href="https://www.instagram.com/semana_de_mecatronica_upiiz/" target="_blank"
                        (click)="sidenav.close();">
                        <img src="assets/img/logos/instagram.png" />
                    </a>
                </li>

                <li>
                    <a href="https://www.tiktok.com" target="_blank" (click)="sidenav.close();">
                        <img src="assets/img/logos/tiktok.png" />
                    </a>
                </li>

            </ul>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>