<div class="seccion-contacto">
    <h1>Contacto</h1>
    <ul class="contenedor-contacto">
        <li style="text-align: center;">
            <h4>Dentro de las instalaciones del IPN:</h4>
            <p>Indicaciones..........</p>
            <p>Indicaciones extra............</p>
            
        </li>
        <li style="text-align: center; justify-items: center;">
            <div class="contenedor-contacto__icon-texto"> 
                <img src="assets/img/logos/whatsapp.png" />
                <h4>WhatsApp Oficial:</h4>
            </div>
            <div class="contenedor-contacto__btn">
                <a mat-raised-button routerLink="#">Da click aqui</a>
            </div>
        </li>

    </ul>

</div>