<div class="seccion-contacto">
    <h1>Contacto</h1>
    <ul class="contenedor-contacto">
        <li style="text-align: end; width: 40%;">
            <h4>Dentro de las instalaciones del IPN:</h4>
            <p>Ahí por ahí llegandole al 5to infierno del poli.</p>
            <p>Alguna otra indicacion a las que no les sé.</p>
        </li>
        <mat-divider [vertical]="true"></mat-divider>
        <li style="text-align: start; width: 40%;">
            <div class="contenedor-contacto__icon-texto"> 
                <img src="assets/img/logos/whatsapp.png" />
                <h4>WhatsApp:</h4>
            </div>

            <div class="contenedor-contacto__btn">
                <a mat-raised-button routerLink="#">Da click aqui</a>
            </div>
        </li>

    </ul>

</div>