<!-- Seccion 1 -->
<section>
    <div>
        <app-carousel [items]="carouselData"></app-carousel>
    </div>
</section>

<!-- Seccion Semana Mecatronica -->
<section style="justify-items: center;">
    <h1>¿Qué es la Semana de la Mecatrónica?</h1>
    <ul class="contenedor-ponentes">
        <li>
            <mat-card appearence="outlined">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <div mat-card-avatar
                        style="background-image: url(assets/img/ponentes/prueba1.jpg); background-size: cover;"></div>
                </mat-card-header>
            </mat-card>
        </li>

        <li>
            <mat-card appearence="outlined">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <div mat-card-avatar
                        style="background-image: url(assets/img/ponentes/prueba2.jfif); background-size: cover;"></div>
                </mat-card-header>
            </mat-card>
        </li>

        <li>
            <mat-card appearence="outlined">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <div mat-card-avatar
                        style="background-image: url(assets/img/ponentes/prueba3.jfif); background-size: cover;">
                    </div>
                </mat-card-header>
            </mat-card>
        </li>
    </ul>


    <ul class="contenedor-ponentes">
        <li>
            <div class="ponentes-btn">
                <a mat-stroked-button routerLink="/pages/ponentes">Todos los ponentes</a>
            </div>
        </li>
    </ul>

</section>


<!-- Seccion  -->
<section style="justify-items: center;">
    <h1>Conoce a nuestros ponentes</h1>
    <ul class="contenedor-ponentes">
        <li>
            <mat-card appearence="outlined">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <div mat-card-avatar
                        style="background-image: url(assets/img/ponentes/prueba1.jpg); background-size: cover;"></div>
                </mat-card-header>
            </mat-card>
        </li>

        <li>
            <mat-card appearence="outlined">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <div mat-card-avatar
                        style="background-image: url(assets/img/ponentes/prueba2.jfif); background-size: cover;"></div>
                </mat-card-header>
            </mat-card>
        </li>

        <li>
            <mat-card appearence="outlined">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <div mat-card-avatar
                        style="background-image: url(assets/img/ponentes/prueba3.jfif); background-size: cover;">
                    </div>
                </mat-card-header>
            </mat-card>
        </li>
    </ul>


    <ul class="contenedor-ponentes">
        <li>
            <div class="ponentes-btn">
                <a mat-stroked-button routerLink="/pages/ponentes">Todos los ponentes</a>
            </div>
        </li>
    </ul>

</section>

<!-- Seccion  -->
<section style="justify-items: center;">
    <h1>Conoce a nuestros ponentes</h1>
    <ul class="contenedor-ponentes">
        <li>
            <mat-card appearence="outlined">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <div mat-card-avatar
                        style="background-image: url(assets/img/ponentes/prueba1.jpg); background-size: cover;"></div>
                </mat-card-header>
            </mat-card>
        </li>

        <li>
            <mat-card appearence="outlined">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <div mat-card-avatar
                        style="background-image: url(assets/img/ponentes/prueba2.jfif); background-size: cover;"></div>
                </mat-card-header>
            </mat-card>
        </li>

        <li>
            <mat-card appearence="outlined">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <div mat-card-avatar
                        style="background-image: url(assets/img/ponentes/prueba3.jfif); background-size: cover;">
                    </div>
                </mat-card-header>
            </mat-card>
        </li>
    </ul>


    <ul class="contenedor-ponentes">
        <li>
            <div class="ponentes-btn">
                <a mat-stroked-button routerLink="/pages/ponentes">Todos los ponentes</a>
            </div>
        </li>
    </ul>

</section>