<div #scroll class="cuadro-scroll">


    <!-- Seccion 1 -->
    <section>
        <div>
            <app-carousel [items]="carouselData"></app-carousel>
        </div>
    </section>


    <!-- Seccion Semana Mecatronica -->
    <section class="seccion-semana">
        <h1>¿Qué es?</h1>

        <ul class="contenedor-semana">

            <li>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Semana de la Mecatrónica</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum justo nec erat
                            suscipit
                            rhoncus at
                            volutpat nisl. Aenean blandit, nulla eget elementum cursus, turpis lacus ultrices libero, ac
                            pulvinar
                            mauris lacus non justo. Etiam mollis nibh nec erat bibendum, placerat porttitor erat
                            rhoncus.
                            Mauris
                            imperdiet, justo ultrices porta tempor, lacus risus accumsan felis, eu volutpat leo lorem at
                            augue.
                            Duis
                            tristique velit ullamcorper urna tincidunt dapibus. Praesent aliquam justo in velit sagittis
                            accumsan.
                            Morbi et lectus a tortor mollis egestas ut sed velit. Quisque bibendum porta iaculis. Nullam
                            leo
                            nibh
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <img src="assets/img/cards/prueba1.jpeg">
            </li>

        </ul>

    </section>


    <!-- Seccion Ponentes -->
    <section class="seccion-ponentes">
        <h1>Conoce a nuestros ponentes</h1>
        <ul class="contenedor-ponentes">
            <li>
                <mat-card appearence="outlined">
                    <mat-card-header>
                        <mat-card-title>justo ultrices porta tempor</mat-card-title>
                        <mat-card-subtitle>tristique velit ullamcorpers</mat-card-subtitle>
                        <div mat-card-avatar
                            style="background-image: url(assets/img/ponentes/prueba-ponente.jpeg); background-size: cover;">
                        </div>
                    </mat-card-header>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <mat-card-header>
                        <mat-card-title>justo ultrices porta tempor</mat-card-title>
                        <mat-card-subtitle>tristique velit ullamcorper</mat-card-subtitle>
                        <div mat-card-avatar
                            style="background-image: url(assets/img/ponentes/prueba-ponente.jpeg); background-size: cover;">
                        </div>
                    </mat-card-header>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <mat-card-header>
                        <mat-card-title>justo ultrices porta tempor</mat-card-title>
                        <mat-card-subtitle>tristique velit ullamcorper</mat-card-subtitle>
                        <div mat-card-avatar
                            style="background-image: url(assets/img/ponentes/prueba-ponente.jpeg); background-size: cover;">
                        </div>
                    </mat-card-header>
                </mat-card>
            </li>
        </ul>


        <ul class="contenedor-ponentes">
            <li>
                <div class="contenedor-ponentes__btn">
                    <a mat-raised-button routerLink="/pages/ponentes">Todos los ponentes</a>
                </div>
            </li>
        </ul>

    </section>


    <!-- Seccion Talleres -->
    <section class="seccion-talleres">
        <h1>Talleres</h1>
        <ul class="contenedor-talleres">
            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/prueba-taller.jpg">
                    <mat-card-header>
                        <mat-card-title>Taller de Mecánica</mat-card-title>
                        <mat-card-subtitle>
                            tristique velit ullamcorper urna tincidunt dapibus. Praesent aliquam justo in velit sagittis
                            accumsan.
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/prueba-taller.jpg">
                    <mat-card-header>
                        <mat-card-title>tristique velit ullamcorper</mat-card-title>
                        <mat-card-subtitle>
                            tristique velit ullamcorper urna tincidunt dapibus. Praesent aliquam justo in velit sagittis
                            accumsan.
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/prueba-taller.jpg">
                    <mat-card-header>
                        <mat-card-title>Etiam mollis nibh</mat-card-title>
                        <mat-card-subtitle>
                            tristique velit ullamcorper urna tincidunt dapibus. Praesent aliquam justo in velit sagittis
                            accumsan.
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </li>
        </ul>


        <ul class="contenedor-talleres">
            <li>
                <div class="contenedor-talleres__btn">
                    <a mat-raised-button routerLink="/pages/talleres">Conoce todos los talleres</a>
                </div>
            </li>
        </ul>

    </section>


    <!-- Seccion Contacto -->
    <section>
        <app-contact></app-contact>
    </section>

</div>