<div #scroll class="cuadro-scroll">


    <!-- Seccion 1 -->
    <section>
        <div>
            <app-carousel [items]="carouselData"></app-carousel>
        </div>
    </section>


    <!-- Seccion Semana Mecatronica -->
    <section class="seccion-semana">
        <h1>¿Qué es?</h1>

        <ul class="contenedor-semana">

            <li>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Semana de la Mecatrónica</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum justo nec erat
                            suscipit
                            rhoncus at
                            volutpat nisl. Aenean blandit, nulla eget elementum cursus, turpis lacus ultrices libero, ac
                            pulvinar
                            mauris lacus non justo. Etiam mollis nibh nec erat bibendum, placerat porttitor erat
                            rhoncus.
                            Mauris
                            imperdiet, justo ultrices porta tempor, lacus risus accumsan felis, eu volutpat leo lorem at
                            augue.
                            Duis
                            tristique velit ullamcorper urna tincidunt dapibus. Praesent aliquam justo in velit sagittis
                            accumsan.
                            Morbi et lectus a tortor mollis egestas ut sed velit. Quisque bibendum porta iaculis. Nullam
                            leo
                            nibh
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <img src="assets/img/cards/cheems.jpg">
            </li>

        </ul>

    </section>


    <!-- Seccion Ponentes -->
    <section class="seccion-ponentes">
        <h1>Conoce a nuestros ponentes</h1>
        <ul class="contenedor-ponentes">
            <li>
                <mat-card appearence="outlined">
                    <mat-card-header>
                        <mat-card-title>Claudia Chembaun de Cortes Con S</mat-card-title>
                        <mat-card-subtitle>Presidenta de Estados Unidos Mexicanos</mat-card-subtitle>
                        <div mat-card-avatar
                            style="background-image: url(assets/img/ponentes/prueba1.jpg); background-size: cover;">
                        </div>
                    </mat-card-header>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <mat-card-header>
                        <mat-card-title>Andres Emanuel Lopez Herrador</mat-card-title>
                        <mat-card-subtitle>Ex Presidente de algún lugar de México</mat-card-subtitle>
                        <div mat-card-avatar
                            style="background-image: url(assets/img/ponentes/prueba2.jfif); background-size: cover;">
                        </div>
                    </mat-card-header>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <mat-card-header>
                        <mat-card-title>Enrique Peñafiel Nieton Vega</mat-card-title>
                        <mat-card-subtitle>Ex ex Presidente, pero de nuestros corazones</mat-card-subtitle>
                        <div mat-card-avatar
                            style="background-image: url(assets/img/ponentes/prueba3.jfif); background-size: cover;">
                        </div>
                    </mat-card-header>
                </mat-card>
            </li>
        </ul>


        <ul class="contenedor-ponentes">
            <li>
                <div class="contenedor-ponentes__btn">
                    <a mat-raised-button routerLink="/pages/ponentes">Todos los ponentes</a>
                </div>
            </li>
        </ul>

    </section>


    <!-- Seccion Talleres -->
    <section class="seccion-talleres">
        <h1>Talleres</h1>
        <ul class="contenedor-talleres">
            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/gato1.jpeg">
                    <mat-card-header>
                        <mat-card-title>Taller de Mecánica</mat-card-title>
                        <mat-card-subtitle>Aprende mecánica básica desarmando y armando un Tsuru
                            tuniado.</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/gato2.jpeg">
                    <mat-card-header>
                        <mat-card-title>Taller de Magia</mat-card-title>
                        <mat-card-subtitle>La magia no existe, son los papás. Neta, me lo dijo un primo de
                            Culiacán.</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/talleres/gato3.jpeg">
                    <mat-card-header>
                        <mat-card-title>Taller de Oratoria</mat-card-title>
                        <mat-card-subtitle>Nada de esto existe en la semana de mecatronica, pero el gato se ve bien
                            acá.</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </li>
        </ul>


        <ul class="contenedor-talleres">
            <li>
                <div class="contenedor-talleres__btn">
                    <a mat-raised-button routerLink="/pages/talleres">Conoce todos los talleres</a>
                </div>
            </li>
        </ul>

    </section>


    <!-- Seccion Contacto -->
    <section>
        <app-contact></app-contact>
    </section>

</div>