<div #scroll class="cuadro-scroll">
    <!-- Titulo -->
    <div class="contenedor-titulo">
        <h1>Conoce a nuestros ponentes</h1>
        <mat-divider style="margin: 0 3% 0 3%;"></mat-divider>
    </div>

    <!-- Seccion Ponentes -->
    <section class="pag-seccion-ponentes">
        <ul class="pag-seccion-ponentes__contenedor">
            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/ponentes/prueba-ponente.jpeg">
                    <mat-card-header>
                        <mat-card-title>Dr. Gamaliel Moreno Chávez</mat-card-title>
                        <mat-card-subtitle>
                            "Deep Learning en la Visión Computacional"
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            El Dr. Gamaliel Moreno Chávez pertenece al cuerpo académico
                            UAZ-CA68 PDS. Miembro asociado en el doctorado en ingeniería y ciencia
                            de materiales de la UASLP expone el impacto del aprendizaje profundo
                            en la visión computacional y cómo este ha potenciado significativamente
                            las aplicaciones en diversos sectores; desde la industria y la medicina,
                            hasta la conducción autonoma, la gricultura y el entretenimiento.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Dia: Lunes 11 de noviembre.
                            <br>
                            Hora: 8:30-9:30 hrs.
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/ponentes/prueba-ponente.jpeg">
                    <mat-card-header>
                        <mat-card-title>Mauris metus nulla</mat-card-title>
                        <mat-card-subtitle>
                            Mauris metus nulla Mauris metus nulla
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            Mauris metus nulla, vehicula non justo in, pharetra rutrum magna. Maecenas vestibulum orci
                            at
                            odio tincidunt, ac tristique nibh ullamcorper. Sed fringilla, augue sed tempus laoreet,
                            metus
                            magna placerat metus, eu tempus elit odio at odio.
                            Mauris metus nulla, vehicula non justo in, pharetra rutrum magna. Maecenas vestibulum orci
                            at
                            odio tincidunt, ac tristique nibh ullamcorper. Sed fringilla, augue sed tempus laoreet,
                            metus
                            magna placerat metus, eu tempus elit odio at odio.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Dia: Martes 12 de noviembre.
                            <br>
                            Hora: 8:30-9:30 hrs.
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/ponentes/prueba-ponente.jpeg">
                    <mat-card-header>
                        <mat-card-title>Mauris metus nulla</mat-card-title>
                        <mat-card-subtitle>
                            odio tincidunt, ac tristique nibh ullamcorper.
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            Mauris metus nulla, vehicula non justo in, pharetra rutrum magna. Maecenas vestibulum orci
                            at
                            odio tincidunt, ac tristique nibh ullamcorper. Praesent ut mi non enim accumsan convallis at
                            quis eros. Integer dignissim imperdiet turpis quis elementum. Nullam imperdiet consequat
                            sem.
                            Nam congue justo id lorem vulputate dignissim eu vitae nisi. Sed non rutrum arcu. Ut tellus
                            leo,
                            pharetra in ipsum id, aliquam pellentesque tellus.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Dia: Miércoles 13 de noviembre.
                            <br>
                            Hora: 8:30-9:30 hrs.
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/ponentes/prueba-ponente.jpeg">
                    <mat-card-header>
                        <mat-card-title>Mauris metus nulla</mat-card-title>
                        <mat-card-subtitle>
                            odio tincidunt, ac tristique nibh ullamcorper.
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            Mauris metus nulla, vehicula non justo in, pharetra rutrum magna. Maecenas vestibulum orci
                            at
                            odio tincidunt, ac tristique nibh ullamcorper. Praesent ut mi non enim accumsan convallis at
                            quis eros. Integer dignissim imperdiet turpis quis elementum. Nullam imperdiet consequat
                            sem.
                            Nam congue justo id lorem vulputate dignissim eu vitae nisi. Sed non rutrum arcu. Ut tellus
                            leo,
                            pharetra in ipsum id, aliquam pellentesque tellus.
                            Mauris metus nulla, vehicula non justo in, pharetra rutrum magna. Maecenas vestibulum orci
                            at
                            odio tincidunt, ac tristique nibh ullamcorper.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Dia: Jueves 14 de noviembre.
                            <br>
                            Hora: 8:00-9:00 hrs.
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/ponentes/prueba-ponente.jpeg">
                    <mat-card-header>
                        <mat-card-title>Mauris metus nulla</mat-card-title>
                        <mat-card-subtitle>
                            odio tincidunt, ac tristique nibh ullamcorper.
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            Mauris metus nulla, vehicula non justo in, pharetra rutrum magna. Maecenas vestibulum orci
                            at
                            odio tincidunt, ac tristique nibh ullamcorper. Sed fringilla, augue sed tempus laoreet,
                            metus
                            magna placerat metus, eu tempus elit odio at odio.
                            Mauris metus nulla, vehicula non justo in, pharetra rutrum magna. Maecenas vestibulum orci
                            at
                            odio tincidunt, ac tristique nibh ullamcorper. Sed fringilla, augue sed tempus laoreet,
                            metus
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Dia: Jueves 14 de noviembre.
                            <br>
                            Hora: 9:00-10:00 hrs.
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/ponentes/prueba-ponente.jpeg">
                    <mat-card-header>
                        <mat-card-title>Mauris metus nulla</mat-card-title>
                        <mat-card-subtitle>
                            odio tincidunt, ac tristique nibh ullamcorper.
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            Mauris metus nulla, vehicula non justo in, pharetra rutrum magna. Maecenas vestibulum orci
                            at
                            odio tincidunt, ac tristique nibh ullamcorper. Sed fringilla, augue sed tempus laoreet,
                            metus
                            magna placerat metus, eu tempus elit odio at odio.
                            Mauris metus nulla, vehicula non justo in, pharetra rutrum magna. Maecenas vestibulum orci
                            at
                            odio tincidunt, ac tristique nibh ullamcorper. Sed fringilla, augue sed tempus laoreet,
                            metus
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Dia: Viernes 15 de noviembre.
                            <br>
                            Hora: 8:30-9:30 hrs.
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

        </ul>
    </section>

</div>