<div #scroll class="cuadro-scroll">
    <!-- Titulo -->
    <div class="contenedor-titulo">
        <h1>Conoce a nuestros ponentes</h1>
        <mat-divider style="margin: 0 3% 0 3%;"></mat-divider>
    </div>

    <!-- Seccion Ponentes -->
    <section class="pag-seccion-ponentes">
        <ul class="pag-seccion-ponentes__contenedor">
            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/ponentes/dr-gamaliel.jpeg">
                    <mat-card-header>
                        <mat-card-title>Dr. Gamaliel Moreno Chávez</mat-card-title>
                        <mat-card-subtitle>
                            "Deep Learning en la Visión Computacional"
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            El Dr. Gamaliel Moreno Chávez pertenece al cuerpo académico
                            UAZ-CA68 PDS. Miembro asociado en el doctorado en ingeniería y ciencia
                            de materiales de la UASLP expone el impacto del aprendizaje profundo
                            en la visión computacional y cómo este ha potenciado significativamente
                            las aplicaciones en diversos sectores; desde la industria y la medicina,
                            hasta la conducción autonoma, la gricultura y el entretenimiento.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Dia: Lunes 11 de noviembre.
                            <br>
                            Hora: 8:30-9:30 hrs.
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/ponentes/prueba1.jpg">
                    <mat-card-header>
                        <mat-card-title>Claudia Chembaun de Cortes Con S</mat-card-title>
                        <mat-card-subtitle>
                            "¿Cómo obtener ganancias pasivas por el método 'Chocolate del Bienestar'? Libre de gluten
                            yomi
                            yomi"
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            Texto loren ipsum porque las ideas a veces escasean cuando estás a 36 grados en un cuarto
                            donde
                            no
                            circula el aire:
                            <br>
                            Mauris metus nulla, vehicula non justo in, pharetra rutrum magna. Maecenas vestibulum orci
                            at
                            odio tincidunt, ac tristique nibh ullamcorper. Sed fringilla, augue sed tempus laoreet,
                            metus
                            magna placerat metus, eu tempus elit odio at odio.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Dia: Martes 12 de noviembre.
                            <br>
                            Hora: 8:30-9:30 hrs.
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/ponentes/prueba3.jfif">
                    <mat-card-header>
                        <mat-card-title>Enrique Peñafiel Nieton Vega</mat-card-title>
                        <mat-card-subtitle>
                            "Conquista de los corazones agenos y la importancia de los chistes mal hechos"
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            Mauris metus nulla, vehicula non justo in, pharetra rutrum magna. Maecenas vestibulum orci
                            at
                            odio tincidunt, ac tristique nibh ullamcorper. Praesent ut mi non enim accumsan convallis at
                            quis eros. Integer dignissim imperdiet turpis quis elementum. Nullam imperdiet consequat
                            sem.
                            Nam congue justo id lorem vulputate dignissim eu vitae nisi. Sed non rutrum arcu. Ut tellus
                            leo,
                            pharetra in ipsum id, aliquam pellentesque tellus.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Dia: Miércoles 13 de noviembre.
                            <br>
                            Hora: 8:30-9:30 hrs.
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/ponentes/prueba2.jfif">
                    <mat-card-header>
                        <mat-card-title>Andres Emanuel Lopez Herrador</mat-card-title>
                        <mat-card-subtitle>
                            "A la presidencia como dijo el Bob Esponja: Algún día serás mía eternamente, y no
                            abierta sino secretamente"
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            Mauris metus nulla, vehicula non justo in, pharetra rutrum magna. Maecenas vestibulum orci
                            at
                            odio tincidunt, ac tristique nibh ullamcorper. Praesent ut mi non enim accumsan convallis at
                            quis eros. Integer dignissim imperdiet turpis quis elementum. Nullam imperdiet consequat
                            sem.
                            Nam congue justo id lorem vulputate dignissim eu vitae nisi. Sed non rutrum arcu. Ut tellus
                            leo,
                            pharetra in ipsum id, aliquam pellentesque tellus.
                            Mauris metus nulla, vehicula non justo in, pharetra rutrum magna. Maecenas vestibulum orci
                            at
                            odio tincidunt, ac tristique nibh ullamcorper.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Dia: Jueves 14 de noviembre.
                            <br>
                            Hora: 8:00-9:00 hrs.
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/ponentes/prueba4.jpg">
                    <mat-card-header>
                        <mat-card-title>Jelipe Caldo de Ron</mat-card-title>
                        <mat-card-subtitle>
                            "Tesina: '¿Por qué un vaso con Bacacho y hielos hace que al servir la
                            coca no se le salga el gas?'"
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            "Ante la duda, tomate una cuba" nos dijo Jelipe Caldo de Ron cuando el país se encontraba
                            en La gran Escases Etílica del '48 a sus 6 añitos llenando de esperanza al publo mexicano.
                            Pueblo trabajador, de esos que se levantan a las 5 a.m. a trabajar en el mercado cargando
                            costales de ajo así como mi primo el de Michoacán.
                            El temor al Bacacho se ha extendido entre todo el mundo, sin embrago, Felipe Caldo de Ron
                            nos
                            iluminará con su sabiduría y extenderá ese olor tan característico del Ron con Coca en
                            nuestro
                            auditorio internacional.
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Dia: Jueves 14 de noviembre.
                            <br>
                            Hora: 9:00-10:00 hrs.
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

            <li>
                <mat-card appearence="outlined">
                    <img mat-card-image src="assets/img/ponentes/prueba5.jfif">
                    <mat-card-header>
                        <mat-card-title>Perroberto Torres Bolaño 'Chesperrito'</mat-card-title>
                        <mat-card-subtitle>
                            "Explicación: El supuesto del equilibrio en la sociedad; Las Chivas y el
                            América"
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="texto-presentacion">
                            "Yo te necesito como pétalo a su rosa, como besos a su boca, como el mar a su sal <br>
                            Te necesito <br>
                            Todo es vano y pasajero si no estás" <br>
                            Perroberto Torres Bolaño 'Chesperrito' nos invita a tomar nota sobre las elucubraciones
                            cantadas por un muchacho muy guapo y bronceado que se llama Luis Miguel.
                            <br>
                            A forma de introduccion, su cita nos hace pensar en abandonar la necesidad humana de
                            encontrar
                            siempre el bueno y el malo, lo blanco y lo negro, las Chivas y un partido ganado,
                            la gasolina de limón o de jamaica.<br>
                            "Desapegarnos de la idea de una contraparte nos permite ver el todo como una dualidad
                            necesaria
                            y no como una competencia; un complemento, un trabajo en equipo como KND Los Chicos del
                            Barrio o
                            Paquita la del Barrio con el sexo masculino.
                            Solo así lograremos entender que el América necesita de las Chivas para generar interés en
                            el
                            espectador como TvAzteca necesita de Televisa."
                        </p>
                        <mat-divider class="divisor-textos"></mat-divider>
                        <p class="texto-horario">
                            Dia: Viernes 15 de noviembre.
                            <br>
                            Hora: 8:30-9:30 hrs.
                        </p>
                    </mat-card-content>
                </mat-card>
            </li>

        </ul>
    </section>

</div>